.btn-container {
  float: right;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}

.card {
  color: white;
}

.card-body {
  /*text-align: center;*/
}

.settings {
  background-color: whitesmoke;
  color: white;
}

.user-welcome {
  size: 200px;
}
