.user-welcome{
    text-align: left;
    font-size: 30px;
    color: black;
    margin: 0;
    padding: 0;
}

.logout {
    color:black;
    
}

.tibit-card {
    background-color: rgb(227, 227, 235);
}








