.subfooter {
    text-align: center;
    color: rgb(139, 55, 139);
}
 .four {
    background-color: rgb(255, 255, 255);
} 
h3.features {
    BACKGROUND: rgb(255, 255, 255); 
    margin: 20px;
    padding: 10px;
    letter-spacing: 3px;
}
table.ui.four.column.doubling.stackable.grid {
    margin: 0px;
}
div.ui.segment {
    padding: 0px;
}