.headings {
    text-align: center;
    opacity: 0.8;
    background-image: url(/Images/images2.jpeg);
    height: 390px;
    width: 100%;
}
h1 {
    font-size: 140px;
    color: white;
}
h2 {
    margin-top: 10px;
    color: rgb(139, 55, 139);
}
.description {
    color: rgb(251, 255, 8);
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 20px;
    color: rgb(96, 139, 96);
    
}
.words {
    font-size: 45px;
}