.video {
    background-image: url(/Images/images4.jpeg);
    height: 400px;
    padding: 12px;
    color: rgb(161, 5, 5);
    font-size: 20px;
}
.title {
    color: black;
}
i.square.outline {
    color: white;
}
p {
    margin-top: 40px;
}